* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 18px;
}

.div1 {
  height: 100vh;  
  color: rgb(255, 0, 128);

  background-image: url(../images/cherry\ blossom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.wrapper1 {
  padding-top: 40vh;
}

.section2 {
  height: 100vh;
  }

.column {
  border: 1px black solid;
  display: inline-block;
  height: 80vh;
  width: 24%;

  background-image: url(../images/portrait.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  
}

.par2 {
  padding: 40%;
  color: aliceblue;
}

.section3 {
  height: 100vh;
  }

.par3 {
  color: rgb(253, 253, 253);
  border: 1px black solid;

  height: 50vh;
  width: 20%;
  display: inline-block;
  margin: auto;

  background-image: url(../images/cherry\ blossom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  }

.div3 {
  margin-left: -50px;
}