* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

.body {
  position: relative;
  min-height: 100vh;
}

.form {
  display: flex;
  justify-content: flex-start;

  min-height: 100vh;
}

.reg-form {
  display: flex;
  /* justify-content: center; */
  flex-flow: column wrap;

  margin: 10% 30%;
}

.legend {
  font-size: 20px;
  margin: auto;
}

.parag-leg {
  font-size: 14px;
  color: grey;

  padding: 10px 40px;
}

.full-name {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  min-width: 100%;
}

.lb-1 {
  min-width: 40%;
}

.lb-2 {
  min-width: 40%;
}

#first-name {
  width: 100%;
}

#last-name {
  width: 100%;
}

.epc-div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  min-width: 100%;
}

#email {
  width: 100%;
}

#password {
  width: 100%;
}

#password-comf {
  width: 100%;
}

.checkbox {
  font-size: 14px;
  color: grey;

  padding: 10px 0;
}

#checkbox {
  margin: 10px 0 0;
}

.terms-link {
  color: #45a146;
}

.conf-btn {
  display: flex;
  justify-content: center;
}

.reg-button {
  color: rgb(244, 244, 244);
  background: linear-gradient(#a7eda8, #448244);
}

.reg-button {
  border: 1px solid #448244;
  width: 50%;
  height: 30px;

  transition: width 200ms linear, height 200ms linear;
}

.reg-button:hover {
  border: 2px solid green;
  width: 52%;
  height: 35px;
}
