@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

/* Header */

.header-top {
  height: 100vh;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-wrapper {
  padding-left: 30px;
  max-width: 200px;

  margin: 10px;
}

.nav-logo {
  width: 100%;

  cursor: pointer;
}

.input-wrapper {
  padding: 10px;
  padding-right: 30px;
}

#burger_menu {
  color: black;
}

.img-header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: rgb(254, 254, 254);
  background-image: url(../svg/Header_picture.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 80%;

  background-attachment: fixed;
}

.header-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 80px;
  margin-bottom: 10px;
}

.header-p {
  font-weight: 600;
  font-size: 24px;
}

.header-h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 58px;
  padding: 15px 420px;
}

.header-h4 {
  font-size: 24px;

  margin-top: 40px;
}

.header-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 450px;

  margin-top: 70px;
  margin-bottom: 30px;
}

.header-btn {
  border-radius: 25px;
  border: 1px solid;

  font-size: 30px;

  color: white;

  z-index: 1;
}

.btn1 {
  padding: 10px;

  background-color: #f45128;
  border: 1px solid #f45128;

  cursor: pointer;
}

.btn2 {
  padding: 10px 27px;

  background-color: rgba(0, 0, 0, 0.4);

  cursor: pointer;
}

.btn1:hover {
  border: 1px solid #ffffff;
}

.btn2:hover {
  border: 1px solid #f45128;
}

.phones-pic-wrapper {
  max-width: 400px;
}

.phones-pic {
  transform: translate(0, -13%);
  height: 700px;

  z-index: 0;
}

/* Main */

.hr-line {
  display: inline-block;

  border: none;
  border-top: 2px solid rgb(195, 195, 195);

  margin-top: 400px;
  margin-left: 18%;
  margin-bottom: 10px;

  width: 70%;
}

.main-header {
  padding-top: 10px;
  padding-left: 40%;
  padding-bottom: 10px;

  margin-top: 60px;

  font-size: 36px;
}

.media-header,
.media-hr {
  display: none;
}

.art1,
.art2 {
  justify-content: center;
  align-items: center;
  height: 90vh;

  flex-wrap: nowrap;
}

.text-wrapper1 {
  max-width: 1000px;
}

.text-wrapper2 {
  max-width: 800px;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.row-rev {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-rev {
  flex-direction: column-reverse;
}

.a-style {
  color: #f45128;
  text-decoration: none;

  font-size: 24px;
}

.art-header {
  margin: 40px;
  margin-left: 0;

  font-size: 57px;
}

.art-descr {
  padding-right: 200px;

  color: #737373;

  font-size: 24px;
}

.art-descr2 {
  padding-right: 30px;

  color: #737373;

  font-size: 24px;
}

/* Footer */

.img-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: rgb(254, 254, 254);
  background-image: url(../svg/Footer_back_img.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 509px;
}

.footer-h1 {
  font-size: 40px;
}

.footer-h4 {
  font-size: 24px;
  font-weight: 400;

  margin-top: 40px;
}

.footer-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 40px 80px 5px 80px;
}

.footer-logo-wrapper {
  padding-left: 30px;
  max-width: 200px;

  margin: 0 0 10px 60px;
}

.icon-footer {
  width: 40px;
  filter: invert(37%) sepia(68%) saturate(1422%) hue-rotate(342deg)
    brightness(97%) contrast(98%);
}

/* Media */

@media screen and (max-width: 430px) {
  .header-logo-wrapper {
    max-width: 135px;
  }

  .img-header {
    background-image: none;
    justify-content: center;
  }

  .header-text-wrapper {
    margin-bottom: 0;
    margin-top: 40px;
  }

  .header-p {
    color: #737373;
    font-size: 16px;
    font-weight: 600;
  }

  .header-h1 {
    color: #252b42;
    font-size: 36px;
    padding: 15px;
  }

  .header-h4 {
    color: #737373;
    font-size: 24px;
    font-weight: 600;

    text-align: center;

    margin-top: 0;

    padding: 0 20px;
  }

  .header-btns {
    flex-direction: column;

    height: 200px;

    margin-top: 10px;
  }

  .btn2 {
    padding: 10px 27px;

    background-color: white;
    color: #f45128;

    cursor: pointer;
  }

  .phones-pic-wrapper {
    max-width: 300px;
    max-height: 400px;
  }

  .phones-pic {
    width: 100%;
    height: 100%;

    transform: none;
  }
  

  .media-header {
    display: block;

    text-align: center;
    padding: 10px 0;

    font-size: 24px;
  }

  .media-hr {
    display: block;

    border: none;
    border-top: 2px solid rgb(195, 195, 195);

    /* margin-top: 400px; */
    margin-left: 0;
    margin-bottom: 10px;

    width: 100%;
  }

  .phone-art1 {
    max-width: 400px;
    transform: translate(10%, 0);
  }

  .hr-line {
    display: none;
  }

  .main-header {
    display: none;
  }

  .art1,
  .art2 {
    justify-content: center;
    align-items: center;
    height: 90vh;

    flex-wrap: wrap-reverse;
  }

  .phone {
    max-width: 300px;
  }

  .art-link {
    text-align: center;
  }

  .art-header {
    margin: 20px 10px;
    padding: 0 30px;

    text-align: center;

    font-size: 40px;
  }

  .art-descr {
    padding: 0 100px;

    color: #737373;

    text-align: center;

    font-size: 24px;
  }

  .art-descr2 {
    padding: 0 100px;

    color: #737373;

    text-align: center;

    font-size: 24px;
  }

  .img-footer {
    background-image: none;
    background-color: #252b42;
  }

  .footer-h1 {
    text-align: center;

    padding: 0 30px;
  }

  .footer-h4 {
    text-align: center;

    padding: 0 40px;
  }

  .footer-logo-wrapper {
    display: none;
  }

  .footer-nav-bar {
    flex-direction: column;

    margin: 40px 60px 15px 60px;
  }
}
