@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.img-header {
  height: 100vh;
  color: rgb(0, 0, 0);
  background-image: url(../images/Header\ picture.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.hr-line {
  display: inline-block;

  border: none;
  border-top: 2px solid rgb(195, 195, 195);
  text-align: center;
  align-items: center;

  margin-top: 10px;
  margin-left: 25%;
  margin-bottom: 10px;

  width: 50%;
}

.main-header {
  padding-top: 10px;
  padding-left: 40%;
  padding-bottom: 10px;

  font-size: 36px;
}

.art1 {
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.row-rev {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-rev {
  flex-direction: column-reverse;
}

.a-style {
  color: #f45128;
  text-decoration: none;

  font-size: 24px;
}

.art-header {
  margin: 20px;
  margin-left: 0;

  font-size: 57px;
}

.art-descr {
  padding-right: 400px;

  color: #737373;

  font-size: 38px;
}
