* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 200vh;
}

.fixed {
    position: fixed;
}

.top {
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}