* {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(209, 247, 250);
  text-align: center;

  font-size: 14px;
  font-family: sans-serif;
}

.table-1 {
  border: 2px solid rgb(79, 204, 204);
  margin-left: 35%;
  margin-top: 4%;
}

.td-name {
  padding: 100px 30px 10px 30px;
}

.table-1 > thead > tr > td > pre {
  background-color: rgb(79, 204, 204);
}

.table-1 > tfoot > tr > td {
  background-color: rgb(79, 204, 204);
}

.a-tbody1 {
  outline: none;
  text-decoration: none;

  background-color: rgb(24, 189, 2);
  /* border: 2px solid rgb(79, 204, 204); */
  color: white;

  padding: 3px 4px;
}

.a-tbody2 {
  outline: none;
  text-decoration: none;

  background-color: rgb(2, 15, 136);
  /* border: 2px solid rgb(79, 204, 204); */
  color: white;

  margin-left: 15px;
  padding: 3px 4px;
}

.a-tbody1:hover {
  border: 2px ridge rgb(82, 8, 8);
}

.a-tbody2:hover {
  border: 2px ridge rgb(82, 8, 8);
}

.a-tfoot {
  outline: none;
  text-decoration: none;
  background-color: rgb(79, 204, 204);
}

.wrapper1 {
  padding: 30px 30px 10px 30px;
  /* margin: 0 30px 0 30px; */
  max-width: 300px;
}

.wrapper2 {
  padding: 15px;

  border-top: 1px solid rgb(221, 219, 219);
  border-bottom: 1px solid rgb(221, 219, 219);
}

.icon {
  margin: 1px;
  width: 25px;
  background-color: rgb(79, 204, 204);
}

.icon:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 30%;
  border: 3px double blue;
}

ul {
  list-style: none;
  padding: 0 40px 30px 30px;
}

.li-style {
  width: 12px;
}

.prt {
  height: 150px;
  width: 150px;
  position: relative;
  /* bottom: 30%; */
  top: -80px;
  /* right: 6%; */
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgb(209, 247, 250);
  /* margin: -25%; */
}
