body {
  background-color: lightyellow;
  font-size: 14px;
}

h3 {
  color: rgb(108, 108, 201);
  font-size: 16px;
  font-style: sans-serif;
}

.firsth3 {
  color: rgb(184, 153, 53);
}

.secondh3 {
  color: #31a13a;
}

.p-start,
.p-center,
.p-end {
  font-style: serif;
  text-decoration: underline 0.2em solid;
}

.p-start {
  text-align: start;
}

.p-center {
  text-align: center;
}

.p-end {
  text-align: end;
}

.main-section p {
  text-decoration: overline 1px solid;
}

.main-section > p {
  text-decoration: underline 1px solid;
}

img {
  display: block;
  margin: auto;
}

.nav1 li {
  list-style-type: none;
}

.nav1 a {
  text-decoration: none;
}

.navp1,
.navp2,
.navp3 {
    display: inline-block;
}
