* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.nav-list {
  font-size: 0;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: rgb(0, 38, 255);
  padding: 10px 20px;
}

.nav .nav-link:hover {
  background-color: rgb(235, 223, 59);
}

.nav-list .nav-item {
  display: inline-block;
}

.nav-list li {
  background-color: rgb(253, 240, 50);
  font-size: 1rem;
  border: 1px solid rgb(235, 223, 59);
}

.nav-item {
  position: relative;
}

.sub-nav-list {
  display: none;
}

.sub-nav-list {
  display: none;
  position: absolute;
  top: 100%;
}

.nav-item:hover > .sub-nav-list {
  display: block;
}

.sub-nav-item {
  position: relative;
}

.sub-sub-nav-list {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}

.sub-nav-item:hover > .sub-sub-nav-list {
  display: block;
}

.par1 {
  padding-top: 30px;
}
