* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 20px;
  text-align: center;
  height: 30px;
  color: red;
  background-color: aliceblue;
  border: 2px solid blue;
  border-top-color: black;
  border-bottom-width: 5px;
  font-weight: bold;
}

p::first-letter {
  font-size: 26px;
  color: blue;
}

p {
  
}
