* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 20px;
  text-align: center;

  color: red;
  background-color: aliceblue;
  border: 2px solid blue;
  border-top-color: red;
  border-bottom-width: 5px;
  font-weight: bold;
}

p::first-letter {
  font-size: 26px;
  color: blue;
}

/* p {
  min-height: 350px;
  height: 500px;
  min-width: 300px;
  width: 100%;
  max-width: 700px;
} */

.par1 {
  padding: 50px;
  padding-left: 10px;
  margin-top: 50px;
}

.par2 {
  outline: black solid 2px;
}

span {
  display: block;
}

.f1 {
  display: inline-block;
}

.f2 {
  height: 60px;
}